<section id="about">
  <div class="container">
    <h2 class="about-title">About this game</h2>
    <p class="about-descr">
      Welcome to <span>Marbelicious</span>, the ultimate marble shooter
      experience where relaxation meets colorful fun! With over 1000 lovingly
      designed levels, you'll blast marbles, rescue dragons, and craft new
      worlds. Whether you have five minutes or fifty, dive into a soothing
      puzzle escape full of joyful popping sounds and magical visuals.
    </p>
    <img
      class="about-img"
      src="img/about-image-mobile@1x.jpg"
      alt="about-image-mobile1x.png"
    />
  </div>
</section>
