<div class="cookie-container" id="cookieConsent">
  <div class="container">
    <div class="cookie-content">
      <p class="text-cookie">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
      <div class="cookie-buttons">
        <button class="cookie-button accept" id="acceptCookies">
          ACCEPT COOKIES
        </button>
        <button class="cookie-button decline" id="declineCookies">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
</div>
