<section id="download-now">
  <div class="container">
    <h2 class="dowl-head">Enter the Magical Marble Realm!</h2>
    <h3 class="dowl-text">
      Step into the relaxing world of Marbelicious. Blast, match, and build –
      anytime, anywhere.
    </h3>
    <a
      href="https://play.google.com/store/apps/details?id=com.marbelicious.game"
      class="dowl-btn"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="dowl-svg"
        srcset="./img/google-play-icon.png 1x, ./img/google-play-icon@2x.png 2x"
        src="./img/google-play-icon.png"
        alt="Google Play"
        width="30"
        height="33"
      />
      Google Play
    </a>
  </div>
</section>
