<section id="download-now">
  <div class="container">
    <h2 class="dowl-head">Enter the Magical Marble Realm!</h2>
    <p class="dowl-text">Step into the relaxing world of Marbelicious.</p>
    <p class="dowl-text part">
      Blast, match, and build &ndash; anytime, anywhere.
    </p>
    <a
      href="https://play.google.com/store/apps/details?id=com.marbelicious.game"
      class="dowl-btn"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="dowl-svg" width="30" height="33">
        <use href="img/sprite.svg#icon-gplay"></use>
      </svg>
      Google Play
    </a>
  </div>
</section>
