<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="faq-title">Frequently Asked Questions</h2>
    <ul class="faq-acc-container" data-accordion="true">
      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            Is Marbelicious free to play?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-check-mark-button.png" alt="Check mark" />
              Yes! It's totally free with optional in-app purchases.
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            Can I play offline?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-check-mark-button.png" alt="Check mark" />
              Absolutely. Play anywhere, anytime.
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            How many levels are there?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-fire.png" alt="Fire" />
              Over 1000, and more added regularly!
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            Are there power-ups?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-collision.png" alt="Collision" />
              Yes! Boosters and the DRACARYS mega-blast!
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            What platforms is the game on?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-mobile-phone.png" alt="Mobile" />
              Available on Android via Google Play.
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            Is it suitable for short play sessions?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-stopwatch.png" alt="Stopwatch" />
              Perfect for coffee breaks and quick escapes.
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            Can kids play?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-hatching-chick.png" alt="Chicken" />
              Yes! It's family-friendly and easy to learn.
            </p>
          </div>
        </div>
      </li>

      <li class="ac">
        <div class="faq-acc-item">
          <h3 class="faq-acc-header ac-header ac-trigger">
            Does it include ads?
            <button type="button" class="faq-acc-button">
              <svg
                class="faq-acc-icon"
                aria-label="Arrow icon"
                width="18"
                height="18"
              >
                <use href="img/sprite.svg#icon-nav-button"></use>
              </svg>
            </button>
          </h3>
          <div class="faq-acc-panel ac-panel">
            <p class="faq-acc-text">
              <img src="img/faq-television.png" alt="TV" />
              Light ads between levels, with option to remove.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
