<section id="features">
  <h2>Game Features</h2>
  <ul>
    <li>
      <img
        src="img/features-button-icon@1x.png"
        alt="features-button-icon@1x.png"
      />
      <span>1000+ Relaxing Levels</span> - Enjoy endless marble-blasting fun,
      stress-free.
    </li>
    <li>
      <img
        src="img/features-drake-icon@1x.png"
        alt="features-drake-icon1x.png"
      />
      <span>Rescue Dragons</span>
      - Save adorable dragons and unlock magical helpers.
    </li>
    <li>
      <img
        src="img/features-dartboard-icon@1x.png"
        alt="features-dartboard-icon1x.png"
      />
      <span>Match-3 Mechanics</span>
      - Easy to learn, rewarding to master.
    </li>
    <li>
      <img
        src="img/features-palette-icon@1x.png"
        alt="features-palette-icon1x.png"
      />
      <span>Vibrant Art & Design</span>
      - A burst of color with every level.
    </li>
    <li>
      <img
        src="img/features-lightning-icon@1x.png"
        alt="features-lightning-icon1x.png"
      /><span>Boosters & Power-ups</span> - Including the mighty DRACARYS!
    </li>
    <li>
      <img
        src="img/features-castle-icon@1x.png"
        alt="features-castle-icon1x.png"
      />
      <span>World-Building Quests</span> - Help dragons rebuild their enchanted
      lands.
    </li>
    <li>
      <img
        src="img/features-note-icon@1x.png"
        alt="features-note-icon1x.png"
      /><span>Soothing Soundscape</span> - Immersive sounds for a peaceful
      experience.
    </li>
  </ul>
</section>
