<section id="features">
  <div class="container">
    <h2 class="features-title">Game Features</h2>
    <ul class="features-list">
      <li class="features-list-item">
        <img
          src="img/features-button-icon@1x.png"
          srcset="
            img/features-button-icon@1x.png 1x,
            img/features-button-icon@2x.png 2x
          "
          alt="button"
        />
        <p>
          <span class="bold">1000+ Relaxing Levels</span> - Enjoy endless
          marble-blasting fun, stress-free.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-drake-icon@1x.png"
          srcset="
            img/features-drake-icon@1x.png 1x,
            img/features-drake-icon@2x.png 2x
          "
          alt="drake"
        />
        <p>
          <span class="bold">Rescue Dragons</span>
          - Save adorable dragons and unlock magical helpers.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-dartboard-icon@1x.png"
          srcset="
            img/features-dartboard-icon@1x.png 1x,
            img/features-dartboard-icon@2x.png 2x
          "
          alt="dartboard"
        />
        <p>
          <span class="bold">Match-3 Mechanics</span>
          - Easy to learn, rewarding to master.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-palette-icon@1x.png"
          srcset="
            img/features-palette-icon@1x.png 1x,
            img/features-palette-icon@2x.png 2x
          "
          alt="palette"
        />
        <p>
          <span class="bold">Vibrant Art & Design</span>
          - A burst of color with every level.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-lightning-icon@1x.png"
          srcset="
            img/features-lightning-icon@1x.png 1x,
            img/features-lightning-icon@2x.png 2x
          "
          alt="lightning"
        />
        <p>
          <span class="bold">Boosters & Power-ups</span> - Including the mighty
          <span class="italic">DRACARYS</span>!
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-castle-icon@1x.png"
          srcset="
            img/features-castle-icon@1x.png 1x,
            img/features-castle-icon@2x.png 2x
          "
          alt="castle"
        />
        <p>
          <span class="bold">World-Building Quests</span> - Help dragons rebuild
          their enchanted lands.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-note-icon@1x.png"
          srcset="
            img/features-note-icon@1x.png 1x,
            img/features-note-icon@2x.png 2x
          "
          alt="music note"
        />
        <p>
          <span class="bold">Soothing Soundscape</span> - Immersive sounds for a
          peaceful experience.
        </p>
      </li>
    </ul>
  </div>
</section>
