<section id="features">
  <div class="container">
    <h2 class="features-title">Game Features</h2>
    <ul class="features-list">
      <li class="features-list-item">
        <img
          src="img/features-button-icon@1x.png"
          alt="features-button-icon@1x.png"
        />
        <p>
          <span>1000+ Relaxing Levels</span> - Enjoy endless marble-blasting
          fun, stress-free.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-drake-icon@1x.png"
          alt="features-drake-icon1x.png"
        />
        <p>
          <span>Rescue Dragons</span>
          - Save adorable dragons and unlock magical helpers.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-dartboard-icon@1x.png"
          alt="features-dartboard-icon1x.png"
        />
        <p>
          <span>Match-3 Mechanics</span>
          - Easy to learn, rewarding to master.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-palette-icon@1x.png"
          alt="features-palette-icon1x.png"
        />
        <p>
          <span>Vibrant Art & Design</span>
          - A burst of color with every level.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-lightning-icon@1x.png"
          alt="features-lightning-icon1x.png"
        />
        <p>
          <span>Boosters & Power-ups</span> - Including the mighty DRACARYS!
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-castle-icon@1x.png"
          alt="features-castle-icon1x.png"
        />
        <p>
          <span>World-Building Quests</span> - Help dragons rebuild their
          enchanted lands.
        </p>
      </li>
      <li class="features-list-item">
        <img
          src="img/features-note-icon@1x.png"
          alt="features-note-icon1x.png"
        />
        <p>
          <span>Soothing Soundscape</span> - Immersive sounds for a peaceful
          experience.
        </p>
      </li>
    </ul>
  </div>
</section>
