<footer class="footer">
  <div class="footer-background">
    <ul class="footer-container">
      <li>
        <a href="terms-and-conditions.html" class="footer-link"
          >Terms and Conditions</a
        >
      </li>
      <li>
        <a href="privacy-policy.html" class="footer-link">Privacy Policy</a>
      </li>
      <li>
        <a href="cookies-policy.html" class="footer-link">Cookie Policy</a>
      </li>
    </ul>
    <p class="footer-text">
      &copy; 2025 joylightforce.com – All rights reserved.
    </p>
  </div>
</footer>
