<header class="header">
  <div class="container">
    <nav class="navbar">
      <a class="header-logo" href="/"
        >Marbelicious: <span>Marble Shooter</span></a
      >
      <ul class="nav-list">
        <li><a href="#about" data-link="anchor">About</a></li>
        <li><a href="#features" data-link="anchor">Features</a></li>
        <li><a href="#how-to-play" data-link="anchor">How To Play</a></li>
        <li><a href="#video" data-link="anchor">Video</a></li>
        <li><a href="#screenshots" data-link="anchor">Screenshots</a></li>
        <li><a href="#reviews" data-link="anchor">Reviews</a></li>
        <li><a href="#faq" data-link="anchor">FAQ</a></li>
      </ul>
    </nav>
    <button id="burger-menu-button" data-action="open">
      <svg class="burger-menu-icon" width="22" height="18">
        <use href="/img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
