<section class="hero" id="hero">
  <div class="container">
    <div class="hero-wrap">
      <h1 class="hero-title">Let the Marble Magic Begin!</h1>
      <a
        class="gplay-button"
        href="https://play.google.com/store/apps/details?id=three.amigos.marble.shooter&hl=en"
        target="_blank"
      >
        <img src="img/google-play-icon.png" alt="google-play-icon" />
        <p>Get it on <span>Google Play</span></p>
      </a>
    </div>
    <p class="hero-descr">
      Shoot, match, relax - help dragons build new worlds!
    </p>
  </div>
</section>
