<section id="how-to-play">
  <div class="container">
    <h2 class="how-to-play-title">How to Play</h2>
    <ul class="how-to-play-list">
      <li class="how-to-play-list-item smal">
        <img src="img/how-to-tap@1x.png" alt="how-to-tap@1x.png" />
        <p>Tap to aim and shoot colorful marbles.</p>
      </li>
      <li class="how-to-play-list-item smal">
        <img src="img/how-to-match@1x.png" alt="how-to-match@1x.png" />
        <p>Match 3 or more to make them pop!</p>
      </li>
      <li class="how-to-play-list-item smal">
        <img src="img/how-to-swap@1x.png" alt="how-to-swap@1x.png" />
        <p>Swap marbles by tapping the dragon shooter.</p>
      </li>
      <li class="how-to-play-list-item smal">
        <img src="img/how-to-boost@1x.png" alt="how-to-boost@1x.png" />
        <p>Use boosters to clear tricky levels.</p>
      </li>
      <li class="how-to-play-list-item big">
        <img src="img/how-to-play@1x.png" alt="how-to-play@1x.png" />
        <p>Rescue dragons, collect rewards, and rebuild magical lands.</p>
      </li>
    </ul>
  </div>
</section>
