<section id="how-to-play">
  <h2>How to Play</h2>
  <ul>
    <li>
      <img src="img/how-to-tap@1x.png" alt="how-to-tap@1x.png" />Tap to aim and
      shoot colorful marbles.
    </li>
    <li>
      <img src="img/how-to-match@1x.png" alt="how-to-match@1x.png" />Match 3 or
      more to make them pop!
    </li>
    <li>
      <img src="img/how-to-swap@1x.png" alt="how-to-swap@1x.png" />Swap marbles
      by tapping the dragon shooter.
    </li>
    <li>
      <img src="img/how-to-boost@1x.png" alt="how-to-boost@1x.png" />Use
      boosters to clear tricky levels.
    </li>
    <li>
      <img src="img/how-to-play@1x.png" alt="how-to-play@1x.png" />Rescue
      dragons, collect rewards, and rebuild magical lands.
    </li>
  </ul>
</section>
