<div class="mobile-menu-overlay" data-visible="close" data-action="close">
  <div class="container">
    <div class="mobile-menu">
      <button id="close-menu-button" data-action="close">
        <svg class="close-menu-icon" width="22" height="18">
          <use href="/img/sprite.svg#icon-close-button"></use>
        </svg>
      </button>
      <a class="mobile-menu-logo" href=""
        >Marbelicious: <span>Marble Shooter</span></a
      >
      <ul class="mobile-menu-nav">
        <li>
          <a href="#about" data-link="anchor" data-action="close">About</a>
        </li>
        <li>
          <a href="#features" data-link="anchor" data-action="close"
            >Features</a
          >
        </li>
        <li>
          <a href="#how-to-play" data-link="anchor" data-action="close"
            >How To Play</a
          >
        </li>
        <li>
          <a href="#video" data-link="anchor" data-action="close">Trailer</a>
        </li>
        <li>
          <a href="#screenshots" data-link="anchor" data-action="close"
            >Screenshots</a
          >
        </li>
        <li>
          <a href="#reviews" data-link="anchor" data-action="close">Reviews</a>
        </li>
        <li><a href="#faq" data-link="anchor" data-action="close">FAQ</a></li>
      </ul>
    </div>
  </div>
</div>
