<div class="mobile-menu-overlay" data-visible="close">
  <div class="mobile-menu">
    <button id="close-menu-button" data-action="close">
      <svg class="close-menu-icon" width="22" height="18">
        <use href="/img/sprite.svg#icon-close-button"></use>
      </svg>
    </button>
    <a class="mobile-menu-logo" href=""
      >Marbelicious: <span>Marble Shooter</span></a
    >
    <ul class="mobile-menu-nav">
      <li><a href="#about">About</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#how-to-play">How To Play</a></li>
      <li><a href="#video">Video</a></li>
      <li><a href="#screenshots">Screenshots</a></li>
      <li><a href="#reviews">Reviews</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
  </div>
</div>
