<section id="screenshots">
  <div class="container">
    <h2 class="screen-head">In-Game Preview</h2>
    <div class="screenshot-container">
      <div class="photo">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/iphone-blast-desktop@1x.png 1x,
              img/iphone-blast-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/iphone-blast-mobile@1x.png 1x,
              img/iphone-blast-mobile@2x.png 2x
            "
          />
          <img src= img/iphone-blast-mobile@1x.png alt="Blast" width="153"
          height="309"/>
        </picture>
      </div>
      <div class="photo">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/iphone-match-desktop@1x.png 1x,
              img/iphone-match-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/iphone-match-mobile@1x.png 1x,
              img/iphone-match-mobile@2x.png 2x
            "
          />
          <img src= img/iphone-match-mobile@1x.png alt="Match" width="153"
          height="309"/>
        </picture>
      </div>
      <div class="photo">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/iphone-win-desktop@1x.png 1x,
              img/iphone-win-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/iphone-win-mobile@1x.png 1x,
              img/iphone-win-mobile@2x.png 2x
            "
          />
          <img src= img/iphone-win-mobile@1x.png alt="Win" width="153"
          height="309"/>
        </picture>
      </div>
      <div class="photo">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              img/iphone-explore-desktop@1x.png 1x,
              img/iphone-explore-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              img/iphone-explore-mobile@1x.png 1x,
              img/iphone-explore-mobile@2x.png 2x
            "
          />
          <img src= img/iphone-explore-mobile@1x.png alt="Explore" width="153"
          height="309"/>
        </picture>
      </div>
    </div>
  </div>
</section>
