<section id="screenshots">
  <div class="container">
    <h2 class="screen-head">In-Game Preview</h2>
    <div class="screenshot-container">
      <div class="photo">
        <img srcset="img/iphone-blast-mobile@1x.png 1x,
        img/iphone-blast-mobile@2x.png 2x" src= img/iphone-blast-mobile@1x.png
        alt="Blast" width="153" height="309"/>
      </div>
      <div class="photo">
        <img srcset="./img/iphone-match-mobile@1x.png 1x,
        img/iphone-match-mobile@2x.png 2x" src= img/iphone-match-mobile@1x.png
        alt="Match" width="153" height="309"/>
      </div>
      <div class="photo">
        <img srcset="img/iphone-win-mobile@1x.png 1x,
        img/iphone-win-mobile@2x.png 2x" src= img/iphone-win-mobile@1x.png
        alt="Win" width="153" height="309"/>
      </div>
      <div class="photo">
        <img srcset="img/iphone-explore-mobile@1x.png 1x,
        img/iphone-explore-mobile@2x.png 2x" src=
        img/iphone-explore-mobile@1x.png alt="Explore" width="153"
        height="309"/>
      </div>
    </div>
  </div>
</section>
