<section id="video">
  <div class="container">
    <h2 class="video-title">Watch the Trailer</h2>
    <div class="embed-container">
      <div class="video-overlay" data-video="overlay">
        <button class="play-button" data-video="button">
          <svg class="icon-play" width="12" height="12">
            <use href="/img/sprite.svg#icon-play"></use>
          </svg>
        </button>
      </div>
      <iframe
        data-video="embed"
        src="https://www.youtube.com/embed/M1MwcKPEi4I"
        frameborder="0"
        loading="lazy"
        allowfullscreen
      ></iframe>
    </div>
    <p>
      Dive into a magical world of marble-blasting and dragon-saving adventure.
    </p>
  </div>
</section>
