#about {
  padding: 40px 0;
}

.about-title {
  font-family: 'DynaPuff';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.about-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.about-descr span {
  font-weight: 700;
}

.about-img {
  border: 2px solid #ffffff;
  border-radius: 20px;
}
