#about {
  padding: 40px 0;
}

.about-title {
  margin-bottom: 20px;
}

.about-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.about-descr span {
  font-weight: 700;
}

//uh, wat?
.about-img img {
  border: 2px solid #ffffff;
  border-radius: 20px;
  width: 288px;
  height: 161px;
}

@include media(desktop) {
  #about {
    padding: 77px 0 100px 0; //11px  for hacks
  }

  #about > .container {
    display: flex;
  }

  .about-wrap {
    margin-right: 20px;
    max-width: 530px;
  }

  .about-title {
    margin-bottom: 36px;
  }

  .about-descr {
    font-size: 26px;
    line-height: 34px;
  }

  .about-img img {
    border: 2px solid #ffffff;
    border-radius: 49px;
    width: 530px;
    height: 317px;
  }
}
