#faq {
  padding: 40px 0;
}

.faq-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.faq-title {
  margin-bottom: 20px;
}

.faq-acc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-acc-item {
  display: flex;
  flex-direction: column;
  border: 1.15px solid rgba(255, 255, 255, 0.29);
  border-radius: 20px;
  padding: 13px 13px 13px 16px;
  backdrop-filter: blur(14px);
  background: rgba(126, 181, 222, 0.16);
  transition: all 250ms ease-in-out;
}

.faq-acc-item .faq-acc-header {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.faq-acc-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.faq-acc-icon {
  fill: #0061af;
  transition: transform 0.3s ease;
  align-items: center;
}

.faq-acc-panel {
  width: 100%;
  display: flex;
  padding-left: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.faq-acc-item.js-enabled .faq-acc-panel {
  visibility: hidden;
}

.ac.is-active .faq-acc-header {
  margin-bottom: 18px;
}

.faq-acc-text {
  font-family: 'Crimson Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  display: flex;
  text-align: left;
  line-height: 18px;
}

.faq-acc-text img {
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-right: 2px;
}

.faq-question-text {
  flex-grow: 1;
  text-align: left;
  padding-right: 16px;
}

@media screen and (min-width: 1200px) {
  #faq {
    padding: 100px 0px;
  }

  .faq-title {
    font-size: 36px;
  }

  /* Двоколонковий макет для десктопу */
  .faq-acc-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .faq-acc-item {
    padding: 20px 30px;
  }

  .faq-acc-item .faq-acc-header {
    font-weight: 600;
    font-size: 26px;
  }

  .faq-acc-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
  }

  .faq-acc-text img {
    width: 26px;
    height: 26px;
    margin-top: 2px;
    margin-right: 6px;
  }

  /* Збільшені розміри кнопки та іконки стрілки */
  .faq-acc-button {
    width: 42px;
    height: 42px;
  }

  .faq-acc-icon {
    width: 40px;
    height: 40px;
  }
}

.ac.is-active .ac-panel {
  visibility: visible;
}

.ac.is-active .faq-acc-icon {
  transform: rotate(90deg);
}
