.footer {
  padding: 20px 0 36px;
  background-color: #004379;
  background-image: url(/img/footer-mobile@1x.png);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

@include high-resolution {
  .footer {
    background-image: url(/img/footer-mobile@2x.png);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 18px;
}

.footer-link {
  color: #fff;
  text-decoration: underline;
  transition: all 250ms ease-in-out;

  font-size: 12px;
  line-height: 16px;
}

.footer-link:hover {
  color: #ffffffab;
}

.footer-text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

@include media(desktop) {
  .footer {
    padding: 36px 0 80px;
    background-image: url(/img/footer-desktop@1x.png);
  }

  @include high-resolution {
    .footer {
      background-image: url(/img/footer-desktop@2x.png);
    }
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
  }

  .footer-link {
    font-size: 20px;
    line-height: 26px;
  }

  .footer-text {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
}
