.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 16px;
  background: #0060af22;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.mobile-menu {
  position: relative;
  width: 288px;
  max-height: 536px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: calc(min(var(--window-height), 586) / 586 * 60px);
  box-shadow: 4px 4px 49px #0061af;
  background: #f1dcaf;
  border: 1.15px solid #ffffff4a;
  border-radius: 20px;
  margin: 0 auto;
}

.mobile-menu-logo {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(min(var(--window-height), 586) / 586 * 40px);
  font-family: 'DynaPuff';
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px #000056;
}

.mobile-menu-logo span {
  font-size: 16px;
  line-height: 19px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(min(var(--window-height), 586) / 586 * 374px);
  // gap: calc(min(var(--window-height), 586) / 586 * 32px);
  color: #000056;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.mobile-menu-nav a:hover,
.mobile-menu-nav a:focus {
  color: #000086;
  text-shadow: 0 1px 15px #000056;
}

#close-menu-button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #ffffff4a;
  border-radius: 4px;
  background-color: #ffffff29;
  width: 24px;
  height: 24px;
}

#close-menu-button:hover,
#close-menu-button:focus,
#close-menu-button:active {
  background-color: #ffffff6a;
  border: 0.5px solid #ffffff49;
}

.close-menu-icon {
  fill: #000056;
  width: 12px;
  height: 12px;
}

[data-visible='open'] {
  //display: flex; <- kills transition, unless its fine, change later
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

[data-visible='close'] {
  //display: none; <- kills transition
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
