:root {
  font-family: 'Crimson Text', 'Dynapuff', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #0c0b0b;
  background-color: #f1dcaf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ol li {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* Кнопка возврата */
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 16px;
  margin-top: 20px;
  gap: 10px;
  border: 1.15px solid rgba(255, 255, 255, 0.29);
  border-radius: 49px;
  padding: 16px 10px;
  width: 130px;
  height: 34px;

  background: rgba(255, 255, 255, 0.16);
}

.back-button:hover {
  font-weight: 600px;
}

.back-arrow {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

/* Заголовок */
.div-head {
  text-align: center;
  margin-bottom: 28px;
}

.head {
  font-family: 'DynaPuff', sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.neck {
  font-weight: 400;
  font-size: 14px;
}

/* Контейнер политики */
.container {
  margin-bottom: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Список */
.li-text {
  font-weight: 400;
  font-size: 16px;
  list-style-type: disc;
}

.li-link {
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  list-style-type: disc;
}

/* Контактная информация */
.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 400;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  ol li {
    font-size: 26px;
  }

  .back-button {
    margin-left: 60px;
    margin-top: 60px;
    gap: 20px;
    width: 226px;
    height: 63px;
  }

  .div-head {
    margin-bottom: 36px;
  }

  .head {
    font-size: 64px;
    margin-bottom: 36px;
  }

  .neck {
    font-size: 20px;
  }

  .container {
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .text {
    font-size: 26px;
    margin-bottom: 36px;
  }

  .priv-title {
    font-size: 26px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .priv-li-text {
    font-size: 26px;
  }

  .priv-li-link {
    font-size: 26px;
  }

  .priv-link {
    font-size: 26px;
  }
}
