/* Контейнер для скріншотів */
#screenshots {
  padding: 40px 0; /* Стандартний відступ */
  overflow: hidden;
}

/* Заголовок */
.screen-head {
  margin-bottom: 20px;
}

/* Контейнер для всіх фото */
.screenshot-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 328px;
  position: relative;
}

/* Окреме фото */
.photo {
  width: 153px;
  height: 309px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  transform: translateZ(0);
}

/* Фото всередині контейнера */
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Винесення фото з hover */
.photo:hover {
  transform: scale(1.1); /* Збільшення при наведенні */
  z-index: 999; /* Підняття над іншими */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.photo:nth-child(1) {
  left: 0;
  top: 32px;
}

.photo:nth-child(2) {
  top: 0;
  right: 16px;
}

.photo:nth-child(3) {
  top: 19px;
  z-index: 2;
}

.photo:nth-child(4) {
  top: -18px;
  right: 16px;
}

/* Адаптація для ПК */
@media (min-width: 1200px) {
  #screenshots {
    padding: 100px 0;
  }

  .screen-head {
    margin-bottom: 36px;
  }

  .screenshot-container {
    grid-template-columns: repeat(4, 267px);
    grid-template-rows: 776px;
  }

  .photo:nth-child(1) {
    left: 0;
    top: 64px;
  }

  .photo:nth-child(2) {
    top: 0;
    left: 0;
    z-index: 2;
  }

  .photo:nth-child(3) {
    top: 91px;
    left: 247px;
  }

  .photo:nth-child(4) {
    top: 165px;
    right: 267px;
  }

  .photo {
    width: 303px;
    height: 612px;
    border-radius: 50px;
  }

  /* Покращений hover */
  .photo:hover {
    transform: scale(1.15); /* Більше збільшення */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
}
