@import './container.scss';

@import './header.scss';
@import './mobile-menu.scss';
@import './about.scss';
@import './cookies-consent.scss';
@import './download-now.scss';
@import './faq.scss';
@import './features.scss';
@import './hero.scss';
@import './how-to-play.scss';
@import './reviews.scss';
@import './screenshots.scss';
@import './video.scss';
@import './footer.scss';

@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  font-family: 'Crimson Text', 'Dynapuff', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

h1 {
  font-family: DynaPuff;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-family: 'DynaPuff';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2a2a2a;
}

@include media(desktop) {
  h1 {
    font-size: 64px;
    line-height: 77px;
  }

  h2 {
    font-size: 36px;
    line-height: 43px;
  }
}
